body {
	--block-size: 32px;
	--block-margin: 2px;
	--block-border-radius: 7px;

	background-color: #333;
	color: white;

	height: 100vh;
	margin: 0;

	display: flex;
	justify-content: center;
	flex-direction: column;

	a {
		color: inherit;
	}

	.hidden {
		display: none !important;
	}

	@import "components/header";
	@import "components/main";
	@import "components/footer";
}
