.playground {
	position: relative;

	background: #222;

	width: calc(
		var(--block-size) * var(--blocks-width) + var(--block-margin) * (var(--blocks-width) + 1)
	);

	height: calc(
		var(--block-size) * var(--blocks-height) + var(--block-margin) * (var(--blocks-height) + 1)
	);

	border: 2px solid #999;

	border-radius: var(--block-border-radius);

	button {
		cursor: pointer;
	}

	article.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		background: rgba(black, 0.4);

		z-index: 1000;

		button {
			text-transform: uppercase;
			font-size: 2em;
			padding: 0.4em 0.8em;
			border-radius: 0.4em;
		}
	}

	button.pause {
		position: absolute;
		top: 0;
		left: 100%;
		margin: 0 1em;
		padding: 0.4em 0.8em;
		font-size: 1.2em;
		color: white;
		background: none;
		border: none;
		text-transform: uppercase;
	}

	@import "playground/block";
	@import "playground/figures";
}
