body {
	--block-size: 32px;
	--block-margin: 2px;
	--block-border-radius: 7px;

	background-color: #333;

	display: flex;
	justify-content: center;
	align-items: center;

	height: 100vh;
	margin: 0;
}

	body .playground {
		--blocks-width: 10;
		--blocks-height: 20;

		background: #222;

		width: calc(
			var(--block-size) * var(--blocks-width) + (var(--blocks-width) - 1 ) * var(--block-margin)
		);

		height: calc(
			var(--block-size) * var(--blocks-height) + (var(--blocks-height) - 1) * var(--block-margin)
		);

		border: 2px solid #999;

		border-radius: var(--block-border-radius);
	}
