.block {
	position: absolute;

	width: var(--block-size);
	height: var(--block-size);

	margin: var(--block-margin);

	left: calc((var(--block-size) + var(--block-margin)) * var(--position-x));
	top: calc((var(--block-size) + var(--block-margin)) * var(--position-y));

	background-color: var(--background-color);
}
